In [1]:
import pandas as pd 
import numpy as np

# dictionary 
diff = pd.DataFrame({'R': ['a', 'c', 'd'],  
                     'T': ['d', 'a', 'c'], 
                     'S_': [1, 2, 3]})

In [3]:
diff

   R  T  S_
0  a  d   1
1  c  a   2
2  d  c   3

In [4]:
print(pd.get_dummies(diff, prefix=['column1', 'column2']))

   S_  column1_a  column1_c  column1_d  column2_a  column2_c  column2_d
0   1          1          0          0          0          0          1
1   2          0          1          0          1          0          0
2   3          0          0          1          0          1          0

In [5]:
print(pd.get_dummies(diff))

   S_  R_a  R_c  R_d  T_a  T_c  T_d
0   1    1    0    0    0    0    1
1   2    0    1    0    1    0    0
2   3    0    0    1    0    1    0

In [7]:
print(pd.get_dummies(diff, prefix=['column1', 'column2'], drop_first=True))

   S_  column1_c  column1_d  column2_c  column2_d
0   1          0          0          0          1
1   2          1          0          0          0
2   3          0          1          1          0