In [203]:
import pandas as pd
import io

In [204]:
data = '''\
Student,Age,Date
Joe,30,December 2017
Bob,40,April 2018
Joe,30,December 2018'''

In [205]:
df = pd.read_csv(io.StringIO(data), sep=',')

In [206]:
boolean = df.duplicated(subset=['Student']).any()

In [207]:
duplicate_in_student = df.duplicated(subset=['Student'])
if duplicate_in_student.any():
    print(df.loc[~duplicate_in_student], end='\n\n')

  Student  Age           Date
0     Joe   30  December 2017
1     Bob   40     April 2018

In [208]:
df.groupby('Student').count()

         Age  Date
Student
Bob        1     1
Joe        2     2

In [209]:
count_df=df.groupby('Student').count()

In [210]:
count_df.to_dict('index')

{'Bob': {'Age': 1, 'Date': 1}, 'Joe': {'Age': 2, 'Date': 2}}

In [211]:
dic = count_df.to_dict('index')

In [218]:
def validate(row):
    thedic = dic[row['Student']]
    if thedic['Date']>1:
        return 'Error'
    else:
        return 'Good'

In [219]:
df['Validation'] = df.apply(lambda x: validate(x), axis=1)

In [220]:
df

  Student  Age           Date Validation
0     Joe   30  December 2017      Error
1     Bob   40     April 2018       Good
2     Joe   30  December 2018      Error